<%= turbo_frame_tag "comment" do %>
  <% if comment.errors.any? %>
  <ul>
    <% comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <%= form_with model: [post, comment] do |form| %>
    <%= form.text_field :body, placeholder: 'Comments' %>
    <%= form.submit %>
  <% end %>
<% end %>