<div class="like-button" data-controller="like"
  data-like-imagel-value=<%=asset_path('heart-filled.png')%>
  data-like-imageu-value=<%=asset_path('heart.png')%>
  data-like-count-value=<%= post.likes.count%>
>
  <div class="like-image" data-action="click->like#toggle">
      <% if current_user.likes.map(&:likable_id).include?(post.id) %>
        <% like = post.likes.where(user_id: current_user.id)%>
        <%= form_with url: post_like_path(post.id, id: like.first.id ), method: :delete do |form| %>
          <%= form.submit "", :type => :image, :src => asset_path('heart-filled.png'), class: 'liked', 'data-like-target': :like %>
        <% end %>
      <% else %>
        <%= form_with url: post_likes_path(post.id), method: :post do |form| %>
          <%= form.submit "", :type => :image, :src => asset_path('heart.png'), class: 'unliked', 'data-like-target': :like%>
        <% end %>
      <% end %>
  </div>
  <div>
    <span class="likes-count" data-like-target="counter" ><%= post.likes.count %></span> 
    like
  </div>
</div>