<div class="navbar-container">
  <div class="navbar">
    <div class="nav-left">
        <div class="logo">
          <%= link_to root_path do %>
            <%= image_tag ('sociwave-icon.png') %>
            <p>SociWave</p>
          <% end %>
        </div>
    </div>
    <div class="nav-right">
      <div class="messages">
        <%=link_to image_tag 'messages.png'%>
      </div>
      <div class="notifications">
        <%=link_to image_tag 'notification.png'%>
      </div>
      <div class="user-container">
        <div class="user">
          <%=image_tag 'user.png'%>
        </div>
        <div class="user-dropdown">
          <%= link_to 'Profile' %>
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: 'logout-link' do%>
            <%= image_tag 'logout.png' %>
            Logout 
           <%end%> 
        </div>
      </div>
    </div>
  </div>
</div>