  <div id="<%= dom_id post %>">
    <div class="post-item">
      <%= link_to post_path(post) do %>
        <div class="item-head">
          <span class="user-image">
            <%= image_tag('user.png')%>
          </span>
          <span class="username">
            <%= post.user.username %>
          </span>
          <% time = Time.at(Time.now - post.created_at) %>
          <% days = time.utc.strftime("%e") %>
          <% hours = time.hour %>
          <% mins = time.min %>
          <% if (hours - 1) <= 0 && (days.to_i - 1) <= 0 %>
            <%= mins %> minutes ago
          <% elsif (days.to_i - 1) == 0 %>
            <%= hours %> hours ago
          <% else %>
            <%= (days.to_i - 1)%> days ago
          <% end %>
        </div>
        <div class="item-body">
          <%= post.body %> <br>
        </div>
      <% end %>
      <div class="item-buttons">
        <div class="like-button" data-controller="like"
          data-like-imagel-value=<%=asset_path('heart-filled.png')%>
          data-like-imageu-value=<%=asset_path('heart.png')%>
          data-like-count-value=<%= post.likes.count%>
        >
          <div class="like-image" data-action="click->like#toggle">
              <% if current_user.likes.map(&:likable_id).include?(post.id) %>
                <% like = post.likes.where(user_id: current_user.id)%>
                <%= form_with url: post_like_path(post.id, id: like.first.id ), method: :delete do |form| %>
                  <%= form.submit "", :type => :image, :src => asset_path('heart-filled.png'), class: 'liked', 'data-like-target': :like %>
                <% end %>
              <% else %>
                <%= form_with url: post_likes_path(post.id), method: :post do |form| %>
                  <%= form.submit "", :type => :image, :src => asset_path('heart.png'), class: 'unliked', 'data-like-target': :like%>
                <% end %>
              <% end %>
          </div>
          <div>
            <span class="likes-count" data-like-target="counter" ><%= post.likes.count %></span> 
            like
          </div>
        </div>
        <%= link_to post_path(post) do %>
          <div class="comment-buttons">
            <%= image_tag('comment.png') %> <br>
            <%= post.comments.count %> Comments
          </div>
        <% end %>
      </div>
    </div>
  </div>