  <div id="<%= dom_id post %>">
    <div class="post-item">
      <%= link_to post_path(post) do %>
        <div class="item-head">
          <span class="user-image">
            <%= image_tag('user.png')%>
          </span>
          <span class="username">
            <%= post.user.username %>
          </span>
          <% time = Time.at(Time.now - post.created_at) %>
          <% days = time.utc.strftime("%e") %>
          <% hours = time.hour %>
          <% mins = time.min %>
          <% if (hours - 1) <= 0 && (days.to_i - 1) <= 0 %>
            <%= mins %> minutes ago
          <% elsif (days.to_i - 1) == 0 %>
            <%= hours %> hours ago
          <% else %>
            <%= (days.to_i - 1)%> days ago
          <% end %>
        </div>
        <div class="item-body">
          <%= post.body %> <br>
        </div>
      <% end %>
      <div class="item-buttons">
        <%= render partial: 'like', locals: {post: post}%>
        <%= link_to post_path(post) do %>
          <div class="comment-buttons">
            <%= image_tag('comment.png') %> <br>
            <%= post.comments.count %> Comments
          </div>
        <% end %>
      </div>
    </div>
  </div>