<div class="navbar-container">
  <div class="navbar">
    <div class="nav-left">
      <div class="logo">
        <%= image_tag ('sociwave-icon.png') %>
        <p>SociWave</p>
      </div>
    </div>
    <div class="nav-right">
      <p class="messages">Messages</p>
      <p class="notifications">Notifications</p>
      <% if user_signed_in? %>
        Welcome! <%= current_user.username%>
      <% end %>
    </div>
  </div>
</div>

<section class="add-post-container">
  <div class="post-form">
    <%= turbo_frame_tag 'new_post', src: new_post_path, target: '_top' %>
    </div>
</section>
<h1>Timeline</h1>
<% @posts.each do |post| %>
  body: <%= post.body %> <br>
  <%= form_with url: post_likes_path(post.id), method: :post do |form| %>
    <%= form.submit 'Like' %>
  <% end %>
  <%= post.likes.count %> like <br>
  Author: <%= post.user.username %> <br>
  <% post.comments.each do |comment| %>
    Body: <%= comment.body %>
    Author: <%= comment.user.username%> <br>
    <%= form_with url: comment_likes_path(comment.id), method: :post do |form| %>
    <%= form.submit 'Like' %>
    <% end %>
    <%= comment.likes.count%> like <br>
  <% end %>
  <%= turbo_frame_tag "new_comment", src: new_post_comment_path(post_id: post.id), target: "_top" %> <br>
<% end %>