<div class="navbar">
  <% if user_signed_in? %>
    Welcome! <%= current_user.username%>
  <% end %>
</div>
<%= turbo_frame_tag "post" do %>
  <%= link_to 'New post', new_post_path%>
<% end %>
<h1>Timeline</h1>
<% @posts.each do |post| %>
  title: <%= post.title %> <br>
  body: <%= post.body %> <br>
  <%= form_with url: post_likes_path(post.id), method: :post do |form| %>
    <%= form.submit 'Like' %>
  <% end %>
  <%= post.likes.count %> like <br>
  Author: <%= post.user.username %> <br>
  <% post.comments.each do |comment| %>
    Body: <%= comment.body %>
    Author: <%= comment.user.username%> <br>
    <%= form_with url: comment_likes_path(comment.id), method: :post do |form| %>
    <%= form.submit 'Like' %>
    <% end %>
    <%= comment.likes.count%> like <br>
  <% end %>
  <%= turbo_frame_tag "comment" do %>
    <%= link_to 'Add comment', new_post_comment_path(post_id: post.id)%> <br>
  <% end %>
<% end %>