<div class="navbar-container">
  <div class="navbar">
    <div class="nav-left">
      <div class="logo">
        <%= image_tag ('sociwave-icon.png') %>
        <p>SociWave</p>
      </div>
    </div>
    <div class="nav-right">
      <p class="messages">Messages</p>
      <p class="notifications">Notifications</p>
      <% if user_signed_in? %>
        Welcome! <%= current_user.username%>
      <% end %>
    </div>
  </div>
</div>

<section class="add-post-container">
  <div class="post-form">
    <%= turbo_frame_tag 'new_post', src: new_post_path, target: '_top' %>
    </div>
</section>
<section class="post-display-container">
  <h1>Timeline</h1>
  <div class="post-display">
    <% @posts.each do |post| %>
      <div class="post-item">
        <div class="item-head">
          <span class="username">
            <%= post.user.username %>
          </span>
          <% time = Time.at(Time.now - post.created_at) %>
          <% days = time.utc.strftime("%e") %>
          <% hours = time.utc.strftime("%H") %>
          <% mins = time.min %>
          <% if (hours.to_i - 1) <= 0 && (days.to_i - 1) <= 0 %>
            <%= mins %> minutes ago
          <% elsif (days.to_i - 1) == 0 %>
            <%= hours %> hours ago
          <% else %>
            <%= (days.to_i - 1)%> days ago
          <% end %>
        </div>
        <div class="item-body">
          <%= post.body %> <br>
        </div>
        <div class="item-buttons">
          <%= form_with url: post_likes_path(post.id), method: :post do |form| %>
            <%= form.submit 'Like' %>
          <% end %>
          <%= post.likes.count %> like <br>
          <% post.comments.each do |comment| %>
            Body: <%= comment.body %>
            Author: <%= comment.user.username%> <br>
            <%= form_with url: comment_likes_path(comment.id), method: :post do |form| %>
            <%= form.submit 'Like' %>
            <% end %>
            <%= comment.likes.count%> like <br>
          <% end %>
          <%= turbo_frame_tag "new_comment", src: new_post_comment_path(post_id: post.id), target: "_top" %> <br>
        </div>
      </div>
    <% end %>
  </div>
</section>