<div class="navbar-container">
  <div class="navbar">
    <div class="nav-left">
      <div class="logo">
        <%= image_tag ('sociwave-icon.png') %>
        <p>SociWave</p>
      </div>
    </div>
    <div class="nav-right">
      <div class="messages">
        <%=link_to image_tag 'messages.png'%>
      </div>
      <div class="notifications">
        <%=link_to image_tag 'notification.png'%>
      </div>
      <div class="user">
        <%=link_to image_tag 'user.png'%>
      </div>
    </div>
  </div>
</div>

<section class="add-post-container">
  <div class="post-form">
    <%= turbo_frame_tag 'new_post', src: new_post_path, target: '_top' %>
    </div>
</section>
<section class="post-display-container">
  <h1>Timeline</h1>
  <div class="post-display">
    <% @posts.each do |post| %>
      <div class="post-item">
        <div class="item-head">
          <span class="user-image">
            <%= image_tag('user.png')%>
          </span>
          <span class="username">
            <%= post.user.username %>
          </span>
          <% time = Time.at(Time.now - post.created_at) %>
          <% days = time.utc.strftime("%e") %>
          <% hours = time.hour %>
          <% mins = time.min %>
          <% if (hours - 1) <= 0 && (days.to_i - 1) <= 0 %>
            <%= mins %> minutes ago
          <% elsif (days.to_i - 1) == 0 %>
            <%= hours %> hours ago
          <% else %>
            <%= (days.to_i - 1)%> days ago
          <% end %>
        </div>
        <div class="item-body">
          <%= post.body %> <br>
        </div>
        
        <div class="item-buttons">
          <div class="like-button">
            <%= form_with url: post_likes_path(post.id), method: :post do |form| %>
              <%= form.submit "", :type => :image, :src => asset_path('heart.png'), class: 'like-button-image' %>
            <% end %>
            <%= post.likes.count %> like <br>
          </div>
          <div class="comment-buttons">
            <%= image_tag('comment.png') %> <br>
            <%= post.comments.count %> Comments
          </div>
          <!--
          <%# post.comments.each do |comment| %>
            Body: <%#= comment.body %>
            Author: <%#= comment.user.username%> <br>
            <%#= form_with url: comment_likes_path(comment.id), method: :post do |form| %>
            <%#= form.submit 'Like' %>
            <%# end %>
            <%#= comment.likes.count%> like <br>
          <%# end %>
          <%#= turbo_frame_tag "new_comment", src: new_post_comment_path(post_id: post.id), target: "_top" %> <br>
          -->
        </div>
      </div>
    <% end %>
  </div>
</section>